@model BD.Models.Article

@{
    ViewData["Title"] = "Details";
}
@{
    var isAdmin = User.IsInRole("Admin");
}




<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />

    <p>@Html.DisplayFor(model => model.TextContent)</p>



</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <span>|</span>
          }
    <a asp-action="Details" asp-controller="Courses" asp-route-id="@Model?.CourseId">Back to Course</a>
</div>
